{%
  set classes = [
    'node--type-' ~ node.bundle|clean_class,
    not node.isPublished() ? 'node--unpublished',
    'nid-' ~ node.id
  ]
%}

<a href="{{ url }}" rel="bookmark" class="story-link" title="{{ node.label }}">
  <article{{ attributes.addClass(classes) }}>
    <div class="content">
      {% if story_label %}
        <div class="story-label">{{ story_label }}</div>
      {% endif %}
      <h4{{ title_attributes }}>
        {{ title_prefix }}
        {{ label }}
        {{ title_suffix }}
      </h4>
      <div{{ content_attributes.addClass('node__content') }}>
        {{ content }}
        {% if search_excerpt %}
          {{ search_excerpt|raw }}
        {% endif %}
        {{ date }}
      </div>
    </div>
  </article>
</a>
