{% extends 'paragraph--queue.html.twig' %}

{% block date %}
  {{ content.field_date }}
{% endblock date %}

{% block columns %}
  <div class="column-right">
    <div class="block-sw-recent-articles-block">
      <h2>{{ 'Recent articles'|t }}</h2>
      {{ sw_recent_articles_block_body }}
    </div>
    {{ content.field_ad_right }}
  </div>
  <div class="column-left">
    {{ groups.teaser_image_medium | raw }}
    {{ groups.teaser | raw }}
    {{ content.field_ad_left }}
  </div>

{% endblock columns %}
