{% extends 'paragraph--queue.html.twig' %}

{% block date %}
  {{ content.field_date }}
{% endblock date %}

{% block columns %}

  {% set ad_visibility = [
    content.field_ad_visibility.0['#markup'],
    content.field_ad_visibility.1['#markup']
  ] %}

  <div class="column-left">
    {{ groups.column_left | raw }}
    {{ ('hide_left' in ad_visibility ) ? '' : content.field_ad_left }}
  </div>
  <div class="column-right">
    <div class="block-sw-recent-articles-block">
      <h2>{{ 'Recent articles'|t }}</h2>
      {{ sw_recent_articles_block_body }}
    </div>
    {{ ('hide_right' in ad_visibility ) ? '' : content.field_ad_right }}
  </div>

{% endblock columns %}
