{% set services = [
  { 'service': 'facebook', 'link': 'https://www.facebook.com/socialistworker', 'text': 'Follow Socialist Worker on Facebook'},
  { 'service': 'twitter', 'link': 'https://twitter.com/socialistviews', 'text': 'Follow @SocialistViews on Twitter'},
  { 'service': 'instagram', 'link': 'https://instagram.com/socialistworker', 'text': 'Follow @SocialistWorker on Instagram'},
  { 'service': 'rss', 'link': url('view.sw_recent.feed_1'), 'text': 'RSS Feed'},
] %}

<ul class="social-links share">
  {% for linkdata in services %}
    <li class="{{ linkdata.service }}">
      <a href="{{ linkdata.link }}" title="{{ linkdata.text }}" rel="noopener" target="_blank">
        <svg>
          <use class="default" xlink:href="#{{ linkdata.service }}-red"></use>
          <use class="hover" xlink:href="#{{ linkdata.service }}"></use>
        </svg>
        <span class="visually-hidden">{{ linkdata.text }}</span>
      </a>
    </li>
  {% endfor %}
</ul>
