{{ attach_library('revolution/share') }}

{% set title = node.label %}
{% set base_url = url('<front>')  %}
{% set absolute_url =  base_url['#markup']|trim('/') ~ url %}
{% set summary =  content.field_teaser.0['#text']|striptags %}

{# see https://github.com/bradvin/social-share-urls for example links#}
{% set services = [
  {
    'service': 'twitter',
    'link':  'https://twitter.com/intent/tweet?url=' ~ absolute_url ~ '&text=' ~ title,
    'text': 'Share on Twitter'
  },
  {
    'service': 'facebook',
    'link': 'https://www.facebook.com/sharer.php?s=100&p[url]=' ~ absolute_url ~ '&p[title]=' ~ title ~ '&p[summary]=' ~ summary,
    'text': 'Share on Facebook'
  },
  { 'service': 'email', 'link': email_url, 'text': 'Email this story'},
  { 'service': 'reply', 'link': respond_url, 'text': 'Reply'},
  { 'service': 'more', 'link': '#', 'text': 'Click for more options'}
] %}

{% set more_services = [
  {
    'service': 'reddit',
    'link': 'https://reddit.com/submit?url=' ~ absolute_url ~ '&title=' ~ title,
    'text': 'Reddit'
  },
  {
    'service': 'google_plus',
    'link': 'https://plus.google.com/share?url=' ~ absolute_url,
    'text': 'Google Plus'
  },
  {
    'service': 'instapaper',
    'link': 'http://www.instapaper.com/edit?url=' ~ absolute_url ~ '&title=' ~ title ~ '&description=' ~ summary,
    'text': 'Instapaper'
  },
  {
    'service': 'flipboard',
    'link': 'https://share.flipboard.com/bookmarklet/popout?v=2&title=' ~ title ~ '&url=' ~ absolute_url,
    'text': 'Flipboard'
  },
  { 'service': 'print', 'link': 'javascript:window.print();', 'text': 'Print'}
] %}

<ul class="social-links share">
  {% for linkdata in services %}
  <li class="{{ linkdata.service }}">
    <a href="{{ linkdata.link }}" title="{{ linkdata.text }}" target="_blank">
    <svg>
      <use class="default" xlink:href="#{{ linkdata.service }}"></use>
      <use class="hover" xlink:href="#{{ linkdata.service }}-red"></use>
    </svg>
      <span class="visually-hidden">{{ linkdata.text }}</span>
    </a>
  </li>
  {% endfor %}
</ul>

<ul class="more-links">
  <div class="more-links-close">close | x</div>
  {% for linkdata in more_services %}
    <li class="{{ linkdata.service }}">
      <a href="{{ linkdata.link }}" title="{{ linkdata.text }}" rel="noopener" target="_blank">
        {{ linkdata.text }}
      </a>
    </li>
  {% endfor %}
</ul>
