{% set services = [
  { 'service': 'twitter', 'link': 'https://www.twitter.com/share', 'text': 'Share on Twitter'},
  { 'service': 'facebook', 'link': 'https://www.facebook.com/sharer.php', 'text': 'Share on Facebook'},
  { 'service': 'email', 'link': '/email', 'text': 'Email this story'},
  { 'service': 'reply', 'link': '/reply;', 'text': 'Reply'},
  { 'service': 'more', 'link': '#', 'text': 'More Options'}
] %}

{% set more_services = [
  { 'service': 'reddit', 'link': '//', 'text': 'Reddit'},
  { 'service': 'google_plus', 'link': '//', 'text': 'Google Plus'},
  { 'service': 'instapaper', 'link': '//', 'text': 'Instapaper'},
  { 'service': 'flipbook', 'link': '//', 'text': 'Flipbook'},
  { 'service': 'snapchat', 'link': '//', 'text': 'Snapchat'},
  { 'service': 'print', 'link': 'javascript:window.print();', 'text': 'Print'}
] %}

<ul class="social-links share">
  {% for linkdata in services %}
  <li class="{{ linkdata.service }}">
    <a href="{{ linkdata.link }}" title="{{ linkdata.text }}" target="_blank">
    <svg>
      <use class="default" xlink:href="#{{ linkdata.service }}"></use>
      <use class="hover" xlink:href="#{{ linkdata.service }}-red"></use>
    </svg>
      <span class="visually-hidden">{{ linkdata.text }}</span>
    </a>
  </li>
  {% endfor %}

  <ul class="more-links">
    {% for linkdata in more_services %}
      <li class="{{ linkdata.service }}">
        <a href="{{ linkdata.link }}" title="{{ linkdata.text }}" target="_blank">
          {{ linkdata.text }}
        </a>
      </li>
    {% endfor %}
  </ul>
</ul>
