{% set services = [
  { 'service': 'mail', 'link': '/email', 'text': 'Email this story'},
  { 'service': 'facebook', 'link': '//www.facebook.com/sharer.php', 'text': 'Share on Facebook'},
  { 'service': 'twitter', 'link': '//www.twitter.com/share', 'text': 'Share on Twitter'},
  { 'service': 'placeholder', 'link': 'javascript:window.print();', 'text': 'Send to Printer'},
  { 'service': 'plus', 'link': '/more', 'text': 'More Options'}
] %}

<ul class="social-links share">
  {% for linkdata in services %}
  <li class="{{ linkdata.service }}">
    <a href="{{ linkdata.link }}" title="{{ linkdata.text }}">
    <svg>
      <use class="default" xlink:href="#{{ linkdata.service }}"></use>
      <use class="hover" xlink:href="#{{ linkdata.service }}-hover"></use>
    </svg>
      <span class="visually-hidden">{{ linkdata.text }}</span>
    </a>
  </li>
  {% endfor %}
</ul>
