<html>
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="{{ email_css_path}}" media="all">
  </head>
  <body>
    <h1 class="site-name"><a href="{{ front_page }}" title="{{ site_name }}">{{ site_name }}</a></h1>
    <div class="header">
      <div class="header-logo">
        <a href="{{ front_page }}" title="{{ site_name }}">{{ logo | raw }}</a>
      </div>
      <div class="header-sublogo">
        <div class="sublogo-mod">{{ 'Publication of the'|t }}</div>
        <div>{{ 'International Socialist Organization'|t }}</div>
      </div>
    </div>
    <div class="body">
      {% if header %}
        <div class="message-header">{{ header }}</div>
      {% endif %}
      {% if message %}
        <div class="message">{{ message }}</div>
      {% endif %}
      <div class="content page-node-type-story">{{ content }}</div>
      {% if email_subscribe_form %}
        <div class="email-subscribe-form">
          <h2>{{ 'E-mail alerts'|t }}</h2>
          {{ email_subscribe_form }}
        </div>
      {% endif %}
      {% if link %}
        <div class="original-article">
          <h2>{{ 'Original article'|t }}</h2>
          <div class="link">{{ link }}</div>
        </div>
      {% endif %}
      {% if footer %}
        <div class="footer">{{ footer }}</div>
      {% endif %}
    </div>
  </body>
</html>
