<html>
  <head>
    <link rel="stylesheet" href="{{ email_css_path}}" media="all">
  </head>
  <body>
    <h1 class="site-name"><a href="{{ front_page }}" title="{{ site_name }}">{{ site_name }}</a></h1>
    <div class="header">
      <div class="header-logo">
        <a href="{{ front_page }}" title="{{ site_name }}">{{ logo | raw }}</a>
      </div>
      <div class="header-sublogo">
        <div class="sublogo-mod">{{ 'Publication of the'|t }}</div>
        <div>{{ 'International Socialist Organization'|t }}</div>
      </div>
    </div>
    <div class="body">
      {% if message %}
        <div class="message">{{ message }}</div>
      {% endif %}
      <div class="story-url"><a href="{{ entity_url }}">{{ entity_url }}</a></div>
      <div class="content page-node-type-story">{{ content }}</div>
      {% if link %}
        <div class="link">{{ link }}</div>
      {% endif %}
    </div>
  </body>
</html>
